backend/state_machine/state_machine.asl.json
{
	"StartAt": "EvaluateEventType",
	"States": {
		"EvaluateEventType": {
			"Type": "Choice",
			"Comment": "Evaluate and route the event types",
			"Choices": [
				{
					"Variable": "$.action",
					"StringEquals": "create",
					"Next": "CreateServer"
				},
				{
					"Variable": "$.action",
					"StringEquals": "terminate",
					"Next": "TerminateServer"
				}
			]
		},
		"CreateServer": {
			"Type": "Task",
			"Comment": "Create Jacktrip Server",
			"Resource": "${CreateServerFunctionArn}",
			"ResultPath": "$.taskResult",
			"Next": "WaitCreate"
		},
		"TerminateServer": {
			"Type": "Task",
			"Comment": "Terminate Jacktrip Server",
			"Resource": "${TerminateServerFunctionArn}",
			"ResultPath": "$.taskResult",
			"End": true
		},
		"WaitCreate": {
			"Type": "Wait",
			"SecondsPath": "$.waitTime",
			"Next": "GetServerStatus"
		},
		"GetServerStatus": {
			"Type": "Task",
			"Comment": "Check if instance is running",
			"Resource": "${GetServerStatusFunctionArn}",
			"ResultPath": "$.status",
			"Next": "InstanceRunning?"
		},
		"InstanceRunning?": {
			"Type": "Choice",
			"Choices": [
				{
					"Variable": "$.status",
					"StringEquals": "pending",
					"Next": "WaitCreate"
				},
				{
					"Variable": "$.status",
					"StringEquals": "running",
					"Next": "HandleSuccess"
				}
			]
		},
		"HandleFail": {
			"Type": "Task",
			"Comment": "Cleanup routine after failure",
			"Resource": "${HandleFailFunctionArn}",
			"End": true
		},
		"HandleSuccess": {
			"Type": "Task",
			"Comment": "Routine after successful flow",
			"Resource": "${HandleSuccessFunctionArn",
			"End": true
		}
	}
}
