backend/state_machine/state_machine.asl.json
{
	"StartAt": "EvaluateEventType",
	"States": {
		"EvaluateEventType": {
			"Type": "Choice",
			"Comment": "Evaluate and route the event types",
			"Choices": [
				{
					"Variable": "$.action",
					"StringEquals": "create",
					"Next": "CreateServer"
				},
				{
					"Variable": "$.action",
					"StringEquals": "terminate",
					"Next": "TerminateServer"
				}
			]
		},
		"CreateServer": {
			"Type": "Task",
			"Comment": "Create Jacktrip Server",
			"Resource": "${CreateServerFunctionArn}",
			"ResultPath": "$.instanceId",
			"Next": "WaitCreate",
			"Catch": [
				{
					"ErrorEquals": ["States.ALL"],
					"ResultPath": "$.errorInfo",
					"Next": "HandleFail"
				}
			]
		},
		"RunJacktrip": {
			"Type": "Task",
			"Comment": "Run SSM document to run Jacktrip on the instance",
			"Resource": "${RunJacktripFunctionArn}",
			"Next": "HandleSuccess",
			"ResultPath": null
		},
		"TerminateServer": {
			"Type": "Task",
			"Comment": "Terminate Jacktrip Server",
			"Resource": "${TerminateServerFunctionArn}",
			"ResultPath": "$.taskResult",
			"Catch": [
				{
					"ErrorEquals": ["States.ALL"],
					"ResultPath": "$.errorInfo",
					"Next": "HandleFail"
				}
			],
			"Next": "HandleSuccess"
		},
		"WaitCreate": {
			"Type": "Wait",
			"SecondsPath": "$.waitTime",
			"Next": "GetServerStatus"
		},
		"GetServerStatus": {
			"Type": "Task",
			"Comment": "Check if instance is running",
			"Resource": "${GetServerStatusFunctionArn}",
			"ResultPath": "$.getStatusResult",
			"Next": "InstanceRunning?"
		},
		"InstanceRunning?": {
			"Type": "Choice",
			"Choices": [
				{
					"Variable": "$.getStatusResult.status",
					"StringEquals": "pending",
					"Next": "WaitCreate"
				},
				{
					"Variable": "$.getStatusResult.status",
					"StringEquals": "running",
					"Next": "RunJacktrip"
				}
			]
		},
		"HandleFail": {
			"Type": "Task",
			"Comment": "Cleanup routine after failure",
			"Resource": "${HandleFailFunctionArn}",
			"ResultPath": "$.webSocketMessage",
			"Next": "ContactWebSocket"
		},
		"HandleSuccess": {
			"Type": "Task",
			"Comment": "Routine after successful flow",
			"Resource": "${HandleSuccessFunctionArn}",
			"ResultPath": "$.webSocketMessage",
			"Next": "ContactWebSocket"
		},
		"ContactWebSocket": {
			"Type": "Task",
			"Resource": "${ContactWebSocketFunctionArn}",
			"End": true
		}
	}
}
